/*!
 * Copyright (c) 2017.  Denis Gomon, xerrorster@gmail.com. Free for ALL. No warranty
 */
@import "../valo/valo.scss";
//@import "../reindeer/reindeer.scss";

@mixin arescontheme {
  @include valo;

  .custom-label-align-right {
    text-align: right;
    font-weight: bold;
    padding-right: 3px;
  }

  .loginPanel-background > div {
    background-color: steelblue;
  }

  .mainMenu-background {
    background-color: lightsteelblue;
    font-size: small;

  }

  .loginView-background {
    background-color: lightsteelblue;
    font-size: small;
  }

 .ItemCreateView .v-textfield, .ItemCreateView .v-filterselect, .ItemCreateView .v-textarea {
    width: 390px;
  }

  .v-margin-top {
    padding-top: 1px;
  }

  .v-margin-right {
    padding-right: 1px;
  }

  .v-margin-bottom {
    padding-bottom: 1px;
  }

  .v-margin-left {
    padding-left: 1px;
  }

  .v-menubar {
    font-size: small;
    height: 27px;
    line-height: 25px;
  }
  // Insert your own theme rules here
}

